body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --theme-color: #f300a3;
  --inactive-state: #ff9acb;
}

p {
  margin: 0;
}
ul li {
  list-style: none;
}
/* Home page */
.home_container {
  height: auto;
}
.home_wrapper {
  background-image: url("../img/bg-index.jpg");
  height: 1080px;
  width: 100%;
  overflow: hidden;
  background-position: 50% 0px;
  background-repeat: repeat-y;
  background-size: contain;
}

.hero_section {
  text-align: center;
  padding-top: 90px;
}
.svg_art {
  z-index: 23;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.svg_art_title {
  position: absolute;
  top: 120px;
}
.sub_text,
.sub_text_second,
.sub_text_third {
  position: absolute;
  top: 23rem;
  font-size: 35px;
  font-weight: 500;
  color: var(--theme-color);
  line-height: 1.14;
}
.sub_text_second {
  top: 29rem;
}
.sub_text_third {
  top: 33rem;
}

.custom_button {
  position: absolute;
  top: 40rem;
  font-weight: 500;
  padding: 16px 20px;
  width: 22rem;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 700;
  background-color: var(--theme-color);
  letter-spacing: 0.2px;
  line-height: 1;
  border: none;
  color: white;
  line-height: 1.14;
}

/* Edit route page  */
.edit_wraper {
  text-align: center;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4a4a4a;
}

#upload-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

input[type="file"],
input[type="text"] {
  display: block;

  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  min-width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  padding: 0;
  /* margin: 0 20px; */
  /* margin: 0 auto 1rem; */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--theme-color);
  cursor: pointer;
}

#result-container {
  display: none;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#result-canvas {
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#arrow-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#arrow-up-container {
  margin-bottom: 0.5rem;
}

#arrow-middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-left,
#arrow-right {
  margin: 0 0.5rem;
}

.arrow-button {
  background-color: #007bff;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.2rem;
}

.step_container {
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.go_back_btn {
  cursor: pointer;
}

.step3_container {
  display: flex;
}
.step3_container .left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top_content ul {
  display: flex;
  gap: 20px;
}
.action_btn,
.arrow-button {
  background-color: var(--inactive-state);
  width: 70px;
  border-radius: 100px;
  cursor: pointer;
  height: 70px;
}
.action_btn:hover {
  background-color: var(--theme-color);
}
.action_btn.active {
  background-color: var(--theme-color);
}

.reposition_container {
  min-height: 300px;
  height: auto;
  width: 600px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--theme-color);
  border-radius: 10px;
}
#arrow-right {
  transform: rotate(90deg);
}
#arrow-left {
  transform: rotate(-90deg);
}
#arrow-down {
  transform: rotate(180deg);
}
.rotate_wraper,
.scale_wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate_wraper svg {
  cursor: pointer;
}
.rotate_wraper svg:nth-child(1) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 8px;
}
.rotate_wraper svg.right {
  margin-left: 8px;
}
.scale_down,
.scale_up {
  border: none;
  color: var(--theme-color);
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: none;
  box-sizing: border-box;
}

.scale_wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.scale_wraper button {
  height: 20px;
}
.download_button {
  background-color: var(--theme-color);
  letter-spacing: 0.2px;
  font-size: 25px;
  font-weight: 700;
  border: none;
  color: white;
  cursor: pointer;
  padding: 16px 20px;
  margin-top: 20px;
  width: 22rem;
  border-radius: 50px;
  margin-bottom: 10px;
}
.bottom_section {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.go_back_btn {
  color: var(--theme-color);
}

.start_section,
.start_section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.start_section div {
  flex-direction: row;
}
.start_section img {
  border: 1px solid var(--theme-color);
  border-radius: 100px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.arrow-button svg {
  color: var(--theme-color) !important;
}
